<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="h1p"><%= title %></h1>
    <p class="h1p">Welcome to <%= title %></p>
    <!-- <img src="download.png" width="500" height="600"> -->
    <form action="" method="post">
      <button type="submit">Login</button>
    </form>
  </body>
</html>
