<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="h1p"><%= title %></h1>
    <p class="h1p">Welcome to <%= name %></p>
    <div class="formtable">
    <%- table_string %> 
    </div>
    <a href="logout" class="http://localhost:3000/logout">Logout</a>
  </body>
</html>
